@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: #a0000d;
}

body {
  background-color: rgb(0, 26, 141);
  background-repeat: no-repeat;
  font-family: Heebo;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background: #a0000d;
}
footer .redessociales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
footer .redessociales .instagram:hover {
  transform: scale(1.3);
}
footer .redessociales .facebook:hover {
  transform: scale(1.3);
}
footer .redessociales .twitter:hover {
  transform: scale(1.3);
}
footer .direcciontelefono {
  font-family: Heebo;
  font-size: small;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  font-size: small;
}
footer .direcciontelefono .h4Footer {
  font-size: medium;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
footer .copyright .copy {
  font-size: small;
}

.main {
  display: grid;
  grid-template-areas: "noticias noticias sidebar" "noticias noticias sidebar" "subnoticias subnoticias sidebar" "patrocinadores patrocinadores patrocinadores";
  gap: 20px;
}

.noticiasMain {
  grid-area: noticias;
}

.subnoticias {
  justify-content: center;
  align-items: stretch;
  margin-left: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "noticiasindex noticiasindex noticiasindex" "subnoticia1 subnoticia2 subnoticia3";
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.subnoticias .subnoticia1 {
  background-color: rgba(235, 235, 235, 0.536);
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  grid-area: subnoticia1;
}
.subnoticias .subnoticia2 {
  background-color: rgba(235, 235, 235, 0.536);
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  grid-area: subnoticia2;
}
.subnoticias .subnoticia3 {
  background-color: rgba(235, 235, 235, 0.536);
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  grid-area: subnoticia3;
}
.subnoticias .hrefSubnoticia > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #a0000d;
}
.subnoticias a:hover {
  color: #000000;
}
.subnoticias .imagensubnoticia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subnoticias .imagensubnoticia img {
  margin-top: 5px;
  border-radius: 10px;
}
.subnoticias .h2_subnoticia {
  text-align: center;
  font-family: Heebo;
  font-size: x-large;
  margin-top: 15px;
}

.partidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.536);
  padding: 5px 70px 5px 70px;
  border-radius: 30px;
  margin-top: 60px;
  margin-right: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}

.proximospartidos {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proximospartidos1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
.proximospartidos1 div > img {
  padding: 2px;
}

.sidebarMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  grid-area: sidebar;
}

.sponsors {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgba(235, 235, 235, 0.536);
  padding: 10px;
  grid-area: patrocinadores;
}

.titles, .wrap, .multimedia, .historia {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}
.titles h1, .wrap h1, .multimedia h1, .historia h1 {
  color: #494B4D;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0px;
}
.titles h1:after, .wrap h1:after, .multimedia h1:after, .historia h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

.historia_flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.historia_flex img {
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}
.historia_flex h2 {
  color: #9f000d;
}
.historia_flex h3 {
  color: #005d79;
}
.historia_flex img {
  width: 250px;
  height: auto;
  transition: 0.3s ease-in-out;
}
.historia_flex img:hover {
  width: 450px;
}
.historia_flex p {
  padding: 0px;
  margin-top: 0px;
}

.container-multimedia {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

.flexMultimedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridMultimedia {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  grid-gap: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 0;
  overflow: hidden;
}
.gridMultimedia img {
  max-width: 100%;
  vertical-align: top;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}

.background__form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../img/fondo2.png");
}

.textform {
  color: white;
  text-align: center;
  margin-top: 150px;
}

.container__form {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background-color: #a90000;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #34b9e2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.screen-body {
  display: flex;
}
@media (max-width: 576px) {
  .screen-body {
    flex-direction: column;
  }
}

.screen-logoform {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .screen-body-item.left {
    margin-bottom: 0px;
  }
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 26px;
}
@media (max-width: 576px) {
  .app-title {
    flex-direction: row;
  }
  .app-title:span {
    margin-right: 12px;
  }
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ffffff;
}
@media (max-width: 576px) {
  .app-title:after {
    display: none;
  }
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: rgb(255, 255, 255);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.app-form-control:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.app-form-control::placeholder {
  color: rgb(255, 255, 255);
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  padding: 5px;
  border-radius: 30px solid;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #adadad;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.titles, .wrap, .historia, .multimedia {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}
.titles h1, .wrap h1, .historia h1, .multimedia h1 {
  color: #494B4D;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0px;
}
.titles h1:after, .wrap h1:after, .historia h1:after, .multimedia h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.category_list {
  display: flex;
  flex-direction: column;
  width: 18%;
}
.category_list .category_item {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #007ca5;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.category_list .ct_item-active {
  background: #950000;
}

/* PRODUCTOS ============*/
.products-list {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
}
.products-list .product-item {
  width: 22%;
  margin-left: 3%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  transition: all 0.4s;
}
.products-list img {
  width: 100%;
  opacity: 0.5;
}
.products-list img:hover {
  opacity: 1;
}
.products-list a {
  display: block;
  width: 100%;
  padding: 8px 0;
  background: #ba0000;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.titles, .historia, .multimedia, .wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}
.titles h1, .historia h1, .multimedia h1, .wrap h1 {
  color: #494B4D;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0px;
}
.titles h1:after, .historia h1:after, .multimedia h1:after, .wrap h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #C7C7C7;
  margin: 20px 0;
}

/*index*/
@media (max-width: 576px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "noticias" "noticias" "subnoticias" "sidebar" "patrocinadores";
  }
  .noticiasMain {
    grid-area: noticias;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .partidos {
    background-color: rgba(235, 235, 235, 0.536);
    padding: 10px 50px 2px 50px;
    border-radius: 30px;
    margin-left: 20px;
  }
  .subnoticias {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: "noticiasindex" "subnoticia1" "subnoticia2" "subnoticia3";
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .subnoticia1 {
    background-color: #f3f3f3;
    border-radius: 10px;
    grid-area: subnoticia1;
    margin-bottom: 10px;
  }
  .subnoticia2 {
    background-color: #f3f3f3;
    border-radius: 10px;
    grid-area: subnoticia2;
    margin-bottom: 10px;
  }
  .subnoticia3 {
    background-color: #f3f3f3;
    border-radius: 10px;
    grid-area: subnoticia3;
  }
  .sponsors {
    padding: 0px;
  }
  .sponsors img {
    height: 30px;
    width: 50px;
  }
  .h4Footer {
    font-size: x-small;
  }
}
@media (max-width: 1312px) {
  .main {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas: "noticias noticias" "noticias noticias" "subnoticias subnoticias" "sidebar sidebar" "patrocinadores patrocinadores";
  }
}
@media (max-width: 900px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "noticias" "noticias" "subnoticias" "sidebar" "patrocinadores";
  }
  .subnoticias {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: "noticiasindex" "subnoticia1" "subnoticia2" "subnoticia3";
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*Multimedia*/
/*Socios*/
/*@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

/*Tienda*/
@media (max-width: 1100px) {
  .products-list .product-item {
    width: 30.3%;
  }
}
@media (max-width: 900px) {
  .category_list,
.products-list {
    width: 100%;
  }
  .category_list {
    flex-direction: row;
    justify-content: space-between;
  }
  .category_list .category_item {
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }
  .products-list .product-item {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .category_list {
    flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 520px) {
  .products-list .product-item {
    width: 47.5%;
  }
  .products-list .product-item:nth-child(3n+1) {
    margin-left: 4.5%;
  }
  .products-list .product-item:nth-child(2n+1) {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .products-list .product_item {
    width: 100%;
    margin-left: 0px;
  }
}/*# sourceMappingURL=estilosass.css.map */